body{
	font-family: kaushan;
	background-color: #fff;
	padding: 0px;
	border-spacing: 0px;
	}
	

#right{
	background-color: #f9f9f9;
}

#left{
	text-align:center;
}

.container-fluid{
	padding: 0px;
}

.banner{
	padding-top: 50px;	
	height: auto;
	width: 100%;
}







