html,
body {
  height: 100%;
  background-color: #f9f9f9;
}


body {
	  color: black;
	  font-family: kaushan;
	  text-align: center;
	  
}

.navbar{
	margin-bottom:0px;
	padding-bottom:0px;
}
.inner{
	padding:5% 10% 0 10%;
	margin:5% 10% 0 10%;
}

.form-horizontal{
	align:center;
	margin:0 100px 0 100px;
}